.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;

}

.headerContainer {
    background-color: var(--mui-palette-primary-light);
}
